<div class="cart">
  <div class="cart__inner">
    <div class="cart__top">
      <h2 class="cart__top-title">Корзина</h2>
      <button class="cart__btn-close">
        <svg class="cart__btn-close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          fill="none">
          <path d="M18 6L6 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M6 6L18 18" stroke="#1F2020" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="cart__main">
      <div class="cart__main-top">
        <div class="cart__main-top-count">4 товара</div>
        <button class="cart__main-top-btn-reset">очистить список</button>
      </div>
      <div class="cart__main-box"></div>
    </div>
    <div class="cart__bottom">
      <div class="cart__bottom-left">
        <div class="cart__bottom-text">Итого</div>
        <div class="cart__bottom-price">14 400 ₽</div>
      </div>
      <div class="cart__bottom-right">
        <button class="cart__bottom-btn-order">Оформить заказ</button>
      </div>
    </div>
  </div>
</div>