<aside class="filter">
  <div class="filter__item filter__item_new">
    <label class="toggle">
      <input type="checkbox">
      <span class="toggle__slider"></span>
    </label>
    Новинки
  </div>
  <div class="filter__item filter__item_available">
    <label class="toggle">
      <input type="checkbox" checked>
      <span class="toggle__slider"></span>
    </label>
    Есть в наличии
  </div>
  <div class="filter__item filter__item_contractual">
    <label class="toggle">
      <input type="checkbox">
      <span class="toggle__slider"></span>
    </label>
    Контрактные
  </div>
  <div class="filter__item filter__item_exclusive">
    <label class="toggle">
      <input type="checkbox">
      <span class="toggle__slider"></span>
    </label>
    Эксклюзивные
  </div>
  <div class="filter__item filter__item_sale">
    <label class="toggle">
      <input type="checkbox">
      <span class="toggle__slider"></span>
    </label>
    Распродажа
  </div>
</aside>