@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  height: 100%;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: #1f2020;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  padding: 0 64px;
}

.header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 40px;
}
@media (max-width: 800px) {
  .header__inner {
    padding: 24px;
  }
}

.header__nav-mobile-btn {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border: none;
  margin-right: 64px;
}
@media (max-width: 1400px) {
  .header__nav-mobile-btn {
    display: block;
  }
}
.header__nav-mobile-btn span {
  width: 24px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f2020;
  transition: all 0.5s;
}
.header__nav-mobile-btn span:nth-of-type(2) {
  top: calc(50% - 6px);
}
.header__nav-mobile-btn span:nth-of-type(3) {
  top: calc(50% + 6px);
}
@media (max-width: 500px) {
  .header__nav-mobile-btn {
    margin: 0;
  }
}

.header__logo {
  margin-right: 172px;
}
@media (max-width: 1460px) {
  .header__logo {
    margin-right: 50px;
  }
}
@media (max-width: 500px) {
  .header__logo {
    height: 19px;
    margin: 0 auto;
  }
}

.header__nav {
  display: flex;
  gap: 24px;
}
.header__nav.active {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 1400px) {
  .header__nav {
    height: 100%;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 40px 65px;
  }
}
@media (max-width: 800px) {
  .header__nav {
    padding: 24px;
  }
}

.header__nav-link {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 116px;
}
@media (max-width: 1300px) {
  .header__contacts {
    margin-right: 50px;
  }
}
@media (max-width: 760px) {
  .header__contacts {
    display: none;
  }
}

.header__contacts-phone {
  font-size: 16px;
  font-weight: 500;
}

.header__contacts-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  opacity: 0.3;
}

.header__control {
  display: flex;
  gap: 24px;
}
.header__control button {
  border: none;
}
@media (max-width: 760px) {
  .header__control {
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .header__control {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .header__control-search {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__control-account {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__control-favorites {
    display: none;
  }
}

.header__control-cart {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7bb899;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 500;
}

.main-slider {
  width: 100%;
}
@media (max-width: 1200px) {
  .main-slider {
    display: none;
  }
}

.main-slider__slide {
  position: relative;
}

.main-slider__slide-info {
  max-width: 472px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-slider__slide-title {
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
}

.main-slider__slide-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #ffffff;
}

.main-slider__controls {
  display: flex;
  color: #fff;
  padding: 0 64px;
}

.main-slider__btn-prev {
  color: #fff;
  left: 84px;
}

.main-slider__btn-next {
  color: #fff;
  right: 84px;
}

.main-slider__pagination {
  width: 124px !important;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50% !important;
  bottom: 39px !important;
  transform: translateX(-50%);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
}

.main-slider__pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #555d5a;
}

.main-slider__pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}

.content {
  display: grid;
  grid-template-columns: 165px auto;
  gap: 138px;
  padding-top: 72px;
  padding-bottom: 72px;
}
@media (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
    padding: 24px;
  }
}

@media (max-width: 800px) {
  .filter {
    width: 100%;
    height: 318px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    border-radius: 24px 24px 0 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    padding: 54px 24px;
  }
}
.filter.active {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 500px) {
  .filter::before {
    content: "";
    width: 28px;
    height: 4px;
    background: #797979;
    border-radius: 40px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.filter__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  transition: 0.4s;
  border-radius: 22px;
}

.toggle__slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 7px;
  bottom: 7px;
  background-color: #1f2020;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle__slider {
  background-color: #7bb899;
}

input:checked + .toggle__slider:before {
  transform: translateX(14px);
}

input:active + .toggle__slider:before {
  width: 22px;
  margin-left: -2px;
}

.products__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
@media (max-width: 800px) {
  .products__top {
    margin-bottom: 24px;
  }
}

.products__top-filters-btn {
  display: none;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .products__top-filters-btn {
    display: block;
  }
}

.products__top-count {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .products__top-count {
    display: none;
  }
}

.products__top-sort {
  max-width: 280px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

.products__top-sort-current {
  cursor: pointer;
  padding: 0 0 0 24px;
  margin-left: auto;
}

.products__top-sort-popup {
  max-width: 280px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.products__top-sort-popup.active {
  visibility: visible;
  opacity: 1;
}

.products__top-sort-option {
  cursor: pointer;
  padding: 16px 24px;
}
.products__top-sort-option:hover {
  background: rgb(156.1625615764, 201.8374384236, 178.6256157635);
}
.products__top-sort-option.active {
  background: #7bb899;
}

.products__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 18px;
}
@media (max-width: 620px) {
  .products__box {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.products__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 14px;
}

.products__item-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 278px;
  margin-bottom: 16px;
}
@media (max-width: 500px) {
  .products__item-img-wrapper {
    height: 156px;
  }
}

@media (max-width: 500px) {
  .products__item-img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.products__item-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.12;
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .products__item-title {
    margin-bottom: 20px;
  }
}

.products__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__item-price {
  font-size: 16px;
  font-weight: 600;
  color: #1f2020;
}

.products__item-btn {
  width: 80px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #7bb899;
  border-radius: 8px;
  transition: all 0.5s;
}
.products__item-btn:hover {
  background: rgb(156.1625615764, 201.8374384236, 178.6256157635);
}
@media (max-width: 500px) {
  .products__item-btn {
    width: 40px;
    height: 24px;
    background: #f2f2f2;
  }
}

@media (max-width: 500px) {
  .products__item-btn-icon {
    width: 16px;
    height: 16px;
  }
}

.footer {
  height: 310px;
  background: #000;
}

.cart {
  max-width: 600px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  margin-left: auto;
}
.cart.active {
  visibility: visible;
  opacity: 1;
}

.cart__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 40px;
}

.cart__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.cart__top-title {
  font-size: 30px;
  font-weight: 500;
}

.cart__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  transition: all 0.5s;
}
.cart__btn-close:hover {
  border: 1px solid #1f2020;
}

.cart__main-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}

.cart__main-top-count {
  font-size: 14px;
  font-weight: 400;
}

.cart__main-top-btn-reset {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #a5a6a6;
  border: none;
  transition: all 0.5s;
}
.cart__main-top-btn-reset:hover {
  color: #1f2020;
}

.cart__main-box {
  overflow-y: auto;
  height: 250px;
}

.cart__main-box-row {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 12px;
}

.cart__main-box-col {
  display: flex;
  flex-direction: column;
}

.cart__main-box-img {
  width: 96px;
  height: 96px;
}

.cart__main-box-title {
  max-width: 165px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
}

.cart__main-box-price {
  font-size: 16px;
  font-weight: 600;
}

.cart__main-box-controls {
  display: flex;
  gap: 20px;
}

.cart__main-box-controls-btn {
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: rgb(242, 242, 242);
  transition: all 0.5s;
}
.cart__main-box-controls-btn:hover {
  transform: translateY(-2px);
}

.cart__main-box-controls-count {
  font-size: 16px;
  font-weight: 400;
}

.cart__main-box-btn-close {
  opacity: 0.5;
  transition: all 0.5s;
  border: none;
  margin-left: auto;
}
.cart__main-box-btn-close:hover {
  opacity: 1;
}

.cart__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.cart__bottom-left {
  display: flex;
  flex-direction: column;
}

.cart__bottom-text {
  font-size: 16px;
  font-weight: 400;
}

.cart__bottom-price {
  font-size: 30px;
  font-weight: 500;
}

.cart__bottom-btn-order {
  width: 240px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1f2020;
  background: #7bb899;
  border: none;
  border-radius: 8px;
  transition: all 0.5s;
}
.cart__bottom-btn-order:hover {
  transform: translateY(-2px);
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */