<div class="main-slider swiper">
  <div class="swiper-wrapper">
    <div class="main-slider__slide swiper-slide">
      <div class="main-slider__slide-info">
        <h2 class="main-slider__slide-title">Краски</h2>
        <p class="main-slider__slide-text">Идеально подходят для стен и других поверхностей. Найди свой идеальный
          цвет!</p>
      </div>
      <img class="main-slider__slide-img" src="/img/main-slider.jpg" alt="main-slider">
    </div>
    <div class="main-slider__slide swiper-slide">
      <div class="main-slider__slide-info">
        <h2 class="main-slider__slide-title">Краски 2</h2>
        <p class="main-slider__slide-text">Идеально подходят для стен и других поверхностей. Найди свой идеальный
          цвет!</p>
      </div>
      <img class="main-slider__slide-img" src="/img/main-slider.jpg" alt="main-slider">
    </div>
    <div class="main-slider__slide swiper-slide">
      <div class="main-slider__slide-info">
        <h2 class="main-slider__slide-title">Краски 3</h2>
        <p class="main-slider__slide-text">Идеально подходят для стен и других поверхностей. Найди свой идеальный
          цвет!</p>
      </div>
      <img class="main-slider__slide-img" src="/img/main-slider.jpg" alt="main-slider">
    </div>
  </div>

  <div class="main-slider__controls">
    <div class="main-slider__btn-prev swiper-button-prev"></div>
    <div class="main-slider__btn-next swiper-button-next"></div>
  </div>

  <div class="main-slider__pagination swiper-pagination"></div>
</div>